<div class="content-wrapper">
  <div class="content-title">TOP 3<span class="title-sub-1"> Diseases</span></div>
  <div class="card-holder">    
    <div class="disease-data child card">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="disease-data child card">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="disease-data child card">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="card-holder">
    <div class="btn btn-primary" id="addnewdata">Add Data</div>
    <div class="btn btn-primary" id="btnDummy">Generate Dummy Data</div>
  </div>

  <div class="container-fluid">
    <table id="myTable" class="stripe compact">
      <thead>
          <tr>
              <th>Name</th>
              <th>Sex</th>
              <th>Birth Date</th>
              <th>Case</th>
              <th>Temp</th>
              <th>COVID-19 Diagnosed</th>
              <th>COVID-19 Encounter</th>
              <th>Is Vaccinated</th>
              <th>City / Municipality</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
          <tr>
              <th>Name</th>
              <th>Sex</th>
              <th>Birth Date</th>
              <th>Case</th>
              <th>Temp</th>
              <th>COVID-19 Diagnosed</th>
              <th>COVID-19 Encounter</th>
              <th>Is Vaccinated</th>
              <th>Nationality</th>
              <th>City / Municipality</th>
              <th>Actions</th>
          </tr>
      </tfoot>
  </table>
  </div>

</div>

<script>
$(document).ready(function() {
  function deleteData(id){
    if (confirm("Do you want to proceed deleting this data?") == true) {
      $(".modal-title").empty();
      $(".modal-footer").empty();
      $(".modal-body").empty();
      $("#modal-container").modal("show");
      $(".modal-title").text("Health Information Form Data");
      $(".modal-body").text("Please wait as we process the deletion of data.");
      $.ajax({
        url: "api.php?method=get&action=delete&id="+id,
        success: function (response) {
          dt.ajax.reload();
          getTop3Cases();
          $("#modal-container").modal("hide");
        }
      });
    }
    else{

    }
  }
  var dt = $('#myTable').DataTable( {
      "bAutoWidth": false,
      ajax: 'api.php?method=get&action=all',
      columns: [
            { data: 'name' },
            { data: 'sex' },
            { data: 'birthdate' },
            { data: 'disease' },
            { data: 'temp' },
            { data: 'coviddiagnosed' },
            { data: 'covidencounter' },
            { data: 'isvaccinated' },
            { data: 'citymun' },
            { data: 'country' },
            { data: 'id' },
        ],
      buttons: [
          'copy', 'excel', 'pdf'
      ],
      'createdRow': function( row, data, dataIndex ) {
          $(row).attr('data-id', data.id);
      },
      'columnDefs': [
        {
            'targets': 10,
            'createdCell':  function (td, cellData, rowData, row, col) {
              $(td).html('<a class="table-action" href="api.php?method=get&action=edit&id='+rowData.id+'"><i class="fa-solid fa-file-pen"></i></a> <a id="btnDelete" data-id="'+rowData.id+';" class="table-action"><i class="fa-solid fa-trash-can"></i></a>')
              $(td).find("#btnDelete").click(function (e) { 
                if (confirm("Do you want to delete this data?") == true) {
                  $(".modal-title").empty();
                  $(".modal-footer").empty();
                  $(".modal-body").empty();
                  $("#modal-container").modal("show");
                  $(".modal-title").text("Health Information Form Data");
                  $(".modal-body").text("Please wait as we process the deletion of the data.");
                  $.ajax({
                    type: "GET",
                    url: "api.php?method=get&action=delete&id="+$(this).data("id"),
                    success: function (response) {
                      setTimeout(() => {                        
                        $("#modal-container").modal("hide");
                          dt.ajax.reload();
                          getTop3Cases();
                      }, 500);
                    }
                  });
                }
                else{

                }
              });
            }
        }
      ]
  } );

  dt.ajax.reload();
  function getTop3Cases() { 
    $.ajax({
      url: "api.php?method=get&action=topdiseases&count=3",
      success: function (response) {
        $(response.data).each(function (i, d) { 
          let elPanel = $('.disease-data')[i];
          $(elPanel).find('.card-title').html(d.num_cases);
          $(elPanel).find('.card-text').html(d.disease);
        });
      }
    });
   }
  getTop3Cases();
  setInterval(() => {
    getTop3Cases();
  }, 1000);
  $("#btnDummy").click(function (e) { 
      if (confirm("Do you want to proceed saving your data?") == true) {
        $(".modal-title").empty();
        $(".modal-footer").empty();
        $(".modal-body").empty();
        $("#modal-container").modal("show");
        $(".modal-title").text("Health Information Form Data");
        $(".modal-body").text("Please wait as we populate the dummy data");        
        $.ajax({
          type: "GET",
          url: "api.php?method=get&action=dummy",
          success: function (response) {
              dt.ajax.reload();
              $("#modal-container").modal("hide");
              getTop3Cases();
          }
        });
      }
      else{
        alert("Transaction Aborted");
      }
    });
    
  $("#addnewdata").click(function (e) { 
    e.preventDefault();
    $(".modal-title").empty();
    $(".modal-footer").empty();
    $(".modal-body").empty();
    $(".modal-title").text("Health Information Form");
    $(".modal-footer").html("<button class='btn btn-primary' id='btnSave'>Save</button><button type='reset' class='btn btn-secondary' id='btnReset'>Reset</button>");
    $(".modal-body").load("pages/health/entity.information.form.html", function (response, status, request) {
      $("#modal-container").modal("show");
    });
    $("#btnSave").click(function (e) { 
      let message;
        if (confirm("Do you want to proceed saving your data?") == true) {
          message = "You pressed OK!";
          let frmData = $("form").serializeArray();
          $.ajax({
            type:"POST",
            url: "api.php?method=post&action=create",
            data: {
              "data":frmData
            },
            success: function (response) {   
              if (response.result == "success") {
                dt.ajax.reload();
                getTop3Cases();
                $("#modal-container").modal("hide");
              } else {
                alert("An error occured during submission,\r\nplease check your data.");
              }
              console.log(response);
            }
          });
        } else {
          message = "You canceled!";
        }
    });
  });
} );
</script>