<div class="content-wrapper">
  <div class="content-title">TOP 3<span class="title-sub-1"> Diseases</span></div>
  <div class="card-holder">    
    <div class="child card">
      <div class="card-body">
        <h5 class="card-title">COVID-19</h5>
        <p class="card-text">Coronavirus disease 2019 (COVID-19) is a contagious disease caused by a virus, the severe acute respiratory syndrome coronavirus 2.</p>
      </div>
    </div>
    <div class="child card">
      <div class="card-body">
        <h5 class="card-title">Dengue fever</h5>
        <p class="card-text">Dengue (DENG-gey) fever is a mosquito-borne illness that occurs in tropical and subtropical areas of the world. Mild dengue fever causes a high fever and flu-like symptoms.</p>
      </div>
    </div>
    <div class="child card">
      <div class="card-body">
        <h5 class="card-title">Community-acquired pneumonia</h5>
        <p class="card-text">Community-acquired pneumonia (CAP) refers to pneumonia (any of several lung diseases) contracted by a person outside of the healthcare system.</p>
      </div>
    </div>
  </div>
  <div class="card-holder">
    <div class="btn btn-primary" id="addnewdata">Add Data</div>
    <div class="btn btn-primary" id="btnDummy">Generate Dummy Data</div>
  </div>
  <div class="card-holder">
    <table id="myTable" class="stripe compact">
      <thead>
          <tr>
              <th>Name</th>
              <th>Sex</th>
              <th>Birth Date</th>
              <th>Case</th>
              <th>Is Vaccinated</th>
              <th>Address</th>
          </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
          <tr>
              <th>Name</th>
              <th>Sex</th>
              <th>Birth Date</th>
              <th>Case</th>
              <th>Is Vaccinated</th>
              <th>Address</th>
          </tr>
      </tfoot>
  </table>
  </div>

</div>

<script>
$(document).ready(function() {
  var dt = $('#myTable').DataTable( {
      "bAutoWidth": false,
      ajax: 'api.php?method=get&action=all',
      columns: [
            { data: 'name' },
            { data: 'sex' },
            { data: 'birthdate' },
            { data: 'disease' },
            { data: 'isvaccinated' },
            { data: 'citymun' },
        ],
      buttons: [
          'copy', 'excel', 'pdf'
      ]
  } );
  dt.ajax.reload();
  $("#btnDummy").click(function (e) { 
      if (confirm("Do you want to proceed saving your data?") == true) {
        $(".modal-title").empty();
        $(".modal-footer").empty();
        $(".modal-body").empty();
        $("#modal-container").modal("show");
        $(".modal-title").text("Health Information Form Data");
        $(".modal-body").text("Please wait as we populate the dummy data");        
        $.ajax({
          type: "GET",
          url: "api.php?method=get&action=dummy",
          success: function (response) {
              dt.ajax.reload();
              $("#modal-container").modal("hide");
          }
        });
      }
      else{
        alert("Transaction Aborted");
      }
    });
    
  $("#addnewdata").click(function (e) { 
    e.preventDefault();
    $(".modal-title").empty();
    $(".modal-footer").empty();
    $(".modal-body").empty();
    $(".modal-title").text("Health Information Form");
    $(".modal-footer").html("<button class='btn btn-primary' id='btnSave'>Save</button><button type='reset' class='btn btn-secondary' id='btnReset'>Reset</button>");
    $(".modal-body").load("pages/health/entity.information.form.html", function (response, status, request) {
      $("#modal-container").modal("show");
    });
    $("#btnSave").click(function (e) { 
      let message;
        if (confirm("Do you want to proceed saving your data?") == true) {
          message = "You pressed OK!";
          let frmData = $("form").serializeArray();
          $.ajax({
            type:"POST",
            url: "api.php?method=post&action=create",
            data: {
              "data":frmData
            },
            success: function (response) {   
              if (response.result == "success") {
                dt.ajax.reload();
                $("#modal-container").modal("hide");
              } else {
                alert("An error occured during submission,\r\nplease check your data.");
              }
              console.log(response);
            }
          });
        } else {
          message = "You canceled!";
        }
    });
  });
} );
</script>