:root {
    // Pallete Set 1 - Seaside
    --pallete-set1-color1: rgb(246, 181, 166);
    --pallete-set1-color2: rgb(242, 205, 138);
    --pallete-set1-color3: rgb(21, 92, 142);
    --pallete-set1-color4: rgb(23, 146, 158);
    --pallete-set1-color5: rgb(63, 216, 190);

    --pallete-bg1-color0: rgb(224, 224, 222);
    // --pallete-set3-color1: rgba(1, 100, 248, 0.2);
    // Pallete Set 3 - Sunrise
    --pallete-set3-color0: rgb(39, 39, 39);
    --pallete-set3-color1: rgb(255, 77, 22);
    --pallete-set3-color2: rgb(255, 146, 32);
    --pallete-set3-color3: rgb(255, 228, 101);
    --pallete-set3-color4: rgb(255, 251, 189);
    --pallete-set3-color5: rgb(255, 251, 243);

    // Pallete Set 4 - Sunset
    --pallete-set4-color1: rgb(21, 82, 99);
    --pallete-set4-color2: rgb(179, 73, 34);
    --pallete-set4-color3: rgb(255, 154, 60);
    --pallete-set4-color4: rgb(255, 201, 60);


    // Pallete Gradient 1
    --pallete-gradient-color1: linear-gradient(107deg, rgb(255, 67, 5) 11.1%, rgb(245, 135, 0) 95.3%);
}
// Global Scrollbar

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffcc00 #DFE9EB;
  transition: all 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 2px;
  transition: all 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275);  
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #B67606;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #A3711C;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #E7961C;
}
body{
    overflow: hidden;
    width:100%;
    height:100%;
    background-color: var(--pallete-bg1-color0);
    font-family: 'Roboto';
    transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto';
}



// Ang mga style classes ibutang below this line

.container{
    overflow: hidden;
    width:100%;
    height:100%;
}

// Display
.flexr {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    flex-wrap: nowrap;
    height:calc(85vh);
    width:calc(90vw);
    margin-top:calc(6vh);
    margin-left:calc(7vw);
    // margin-right:calc(5vw);
    overflow: hidden;
  }
  
  
  // Sidebars
  .sidebar {
    // width: 200px;
    display: flex;
    // height:calc(80vh);
    .sidebar-content{
      .header {
        height: 50px;
        .team-logo {
          height: 50px;
          // margin-top:-10px;
          align-items: center;
        }
      }
    }
  }
.sidebar-menu {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    height: calc(70vh);
    background: var(--pallete-gradient-color1);
    .logo-wrapper{
      margin-bottom:30px;
    }
    .official-logo{
      width: 100px;
      height: 100px;
      margin-left:20%;
      margin-top:10px;
      align-items: center;
    }
    .sidebar-menu-wrapper {
       
        margin-top:10px;
        padding: 0;
        list-style: none;
        li{
          padding-left:10px;
          padding-top:5px;
          padding-bottom:5px;
          font-size: smaller;
          width:100%;
          // padding:5px;
          color:var(--pallete-set3-color5);
          *{
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Roboto';
            color: var(--pallete-set3-color5);
          }
          
          &:hover{
            transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            background-color: rgba(255, 228, 101,0.2);
            a{
              color: var(--pallete-set3-color3);
            }
          }
        }
    }
}
  .sidebar-menu-bottom {
    background-color: var(--pallete-set1-color2);
    list-style: none;
    padding: 0;
    height: fit-content;
    align-self: baseline;
}

// Content
.content {
  overflow: auto;
  border-radius: 10px;
  width:80%;
  background-color: var(--pallete-set3-color5);
}

// Page : main.page.html
.content-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding:10px;
  .card-holder {
    align-items: flex-start;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    flex-flow: row nowrap;
    gap:10px;
    height: fit-content;
    padding:10px;
  }
}

.child {
width: 100%;
}

.content-title {
  padding-left:10px;
  margin:0;
  font-size: 25pt;
  span.title-sub-1{
    font-size: 18pt;
  }
}
.card {
  min-height: calc(150px);
}
.card-text {
  font-size: 10pt;
}
.activity-btn  {
  cursor: pointer;
  padding: 5px;
  // min-width: 120px;
  border-radius: 5px;
  text-align: center;
}
#myTable {
  width: 100%;
}
.dataTables_wrapper {
  width: 100%;
  margin:0 auto;
}
#myTable thead th{
  font-size: 11pt;
  td{
    cursor: pointer;
  }
}
#myTable tfoot th{
  font-size: 11pt;
  td{
    cursor: pointer;
  }
}
#myTable tbody tr{
  font-size: 10pt;
  td{
    cursor: pointer;
  }
}
.modal-container {
  z-index:1;
  .modal-dialog{
    margin-top:3rem !important;
  }
}

// Entity Information Form
.form-container {
  form{
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin:0 auto;
    .form-wrapper {
      width: 100% !important;
      display: flex;
      gap:10px;
      align-items: stretch;
    }
  }
}
.encounter-data,
.diagnosed-data,
.mostinfected-data,
.minor-data,
.adult-data,
.senior-data,
.disease-data {
  width:calc(12vw);
  align-items: stretch;
  flex-grow: 1;
  margin:0 auto;
  .card-body{
    .card-title{
      text-align: center;
      font-size: 40pt !important;
    }
    .card-title2 {
      text-align: center;
    }
    .card-text {
      text-align: center;
    }
  }
}

.table-action{
  color:rgb(185, 72, 19);
} 